<canvas id="main" width="800" height="800"></canvas>

<select id="control">
  <option value="">Please select a pattern</option>
  <%= Enum.map @patterns, fn pattern -> %>
    <option value="<%= pattern %>"><%= pattern %></option>
  <% end %>
</select>
